# dependencies
node_modules/*
node_modules/

# dotenv 환경파일
.env

# nvm
.nvmrc

# yarn
.yarnrc.yml
.yarn/
.pnp.*
install-state.gz

# OS
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
