@import 'tailwindcss';
@import './theme.css';
@import './reset.css';
@import './custom-utilities.css';

@layer base {
  #root {
    width: 100%;
    min-height: 100dvh;
  }

  html {
    background-color: white;
  }

  html,
  body {
    font-size: 62.5%;
    font-family:
      'Pretendard',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  body {
    background-color: var(--color-primary-100);
  }

  body::-webkit-scrollbar {
    display: none;
  }
}
